body {
    background: #F2D4D4;
    color: #2E306F;
    padding: 25px;
    font-family: sans-serif;
    max-width: 1024px;
    margin: 0 auto;
}

h1 {
    font-size: 1.5rem;
    padding: 0rem 0rem 0.5rem 0rem;
    border-bottom: 3px solid #2E306F; 
}

h2 {
    font-size: 3rem;
    margin: 3rem 0rem 0rem 0rem;
}

h3 {
    font-size: 1.5rem;
}

.recent-work {
    border-bottom: 3px solid #2E306F;
}

.profile-image {
    width: 375px;
    margin-inline-end: 4rem;
}

.bio {
    display: flex;
}

@media (max-width: 1024px) {
    .bio {
        flex-direction: column;
    }
}

.btn {
    text-decoration: none;
    color: #F2D4D4;
    background-color: #2E306F;
    height: 2.5rem;
    width: 40%;
    margin: 0 auto;
    display: grid;
    align-items: center;
    text-align: center;
    border-radius: 1rem;
}

.project1-image {
    width: 50%;
    height: 50%;
    margin: 2rem 0rem 1rem 1rem;
}

article {
    display: flex;
    margin: 2rem 0rem 4rem 0rem;
}

@media (max-width: 1024px) {
    article {
        flex-direction: column; 
    }

}

a.project-button {
    text-decoration: none;
    color: #F2D4D4;
    background-color: #654142;
    padding: 0 1rem;
    height: 2.5rem;
    display: inline-flex;
    align-items: center;
    border-radius: 1rem;
}

footer p {
    background: #2E306F;
    color: #F2D4D4;
    padding: 1rem;
    max-width: 1024px;
    text-align: center;
    margin: 2rem 0rem;
}

.email-link {
    color: #F2D4D4;
}